# Database Configuration
DB_HOST = 'mysql'
DB_PORT = '3306'
DB_ROOT_PASSWORD=rootpassword
DB_NAME=wfh_attendance_db
DB_USER=appuser
DB_PASS=apppassword

# Security
JWT_SECRET=super_secret_jwt_key_wfh_app_testing_123

# Service Ports
GATEWAY_PORT = 3000
AUTH_PORT = 3001
EMPLOYEE_PORT = 3002
ATTENDANCE_PORT = 3003

# Internal Service URL
AUTH_SERVICE_URL=http://auth-service:3001
EMPLOYEE_SERVICE_URL=http://employee-service:3002
ATTENDANCE_SERVICE_URL=http://attendance-service:3003