# node_modules & build output
node_modules/
dist/
.build/

# Environment variables
.env
*.env

# Environment variables yang dikecualikan agar tetap di push Github untuk ditesting
!.env.example

# Uploaded assets
uploads/*
**/uploads/

# IDE & OS files
.vscode/
.DS_Store